python-dotenv==1.0.0
huggingface-hub>=0.26.0
langchain==0.1.14
langchain-community==0.0.30
langchain-huggingface==0.0.3
langchain-core==0.1.52
langchain-text-splitters==0.0.1
faiss-cpu==1.8.0
sentence-transformers==2.6.0
tavily-python==0.4.0
langgraph==0.0.25
streamlit==1.29.0
tiktoken==0.7.0
accelerate==0.27.2
langsmith>=0.1.0
